<nav class="navbar navbar-expand-lg navbar-light blue accent-4">

  <div class="container">

    <a class="navbar-brand" href="/">
      <img src="assets/logo_white_on_transparent.png" height="30" alt="logo">&nbsp;<img src="assets/logo_text_on_transparent.png" height="30" alt="Project X">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" xdata-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <!-- Links -->
    <div xclass="navbar-collapse" id="basicExampleNav">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.facebook.com" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/rmit-group21/assignment-three" class="nav-link waves-effect"
             target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>

</nav>
