<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="large-background">

    {%- include navbar.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home-hero">
          <img src="assets/logo_text_on_transparent.png" width="60%" alt="Project X">
        </div>
        <div>
          {{ content }}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
